In [1]:
import json
import os
import numpy as np
import pandas as pd
from tqdm import tqdm

In [ ]:
def dataprep(resname):
    data = {"review_id":[],"business_id":[],"text":[],"stars":[]}
    with open('../input/yelp-dataset/yelp_academic_dataset_review.json') as f:   
        for line in tqdm(f):
            review = json.loads(line)
            data['review_id'].append(review['review_id'])
            data['business_id'].append(review['business_id'])
            data['text'].append(review['text'])
            data['stars'].append(review['stars'])
    df = pd.DataFrame(data)
    data1 = {"name":[],"business_id":[],"city":[],"categories":[]}
    with open('../input/yelp-dataset/yelp_academic_dataset_business.json') as f:
        for line in tqdm(f):
            business = json.loads(line)
            data1['name'].append(business['name'])
            data1['business_id'].append(business['business_id'])
            data1['city'].append(business['city'])
            data1['categories'].append(business['categories'])
    df1 = pd.DataFrame(data1)
    df.dropna(inplace=True)
    df1.dropna(inplace=True)
    restaurants_business = df1[df1.categories.str.contains("Restaurants")]
    Toronto_rest = restaurants_business[restaurants_business.city == "Toronto"]
    finaldf = Toronto_rest.merge(df,on="business_id",how="inner")
    final_reviews = finaldf[finaldf.name==resname]
    review = final_reviews.reset_index().text
    data = pd.DataFrame(review)
return data1,data

In [2]:
data = {"review_id":[],"business_id":[],"text":[],"stars":[],"user_id":[]}
with open('data/yelp_academic_dataset_review.json') as f:   
    for line in tqdm(f):
        review = json.loads(line)
        data['review_id'].append(review['review_id'])
        data['business_id'].append(review['business_id'])
        data['user_id'].append(review['user_id'])
        data['text'].append(review['text'])
        data['stars'].append(review['stars'])
df = pd.DataFrame(data)

8021122it [02:05, 64015.46it/s]

In [3]:
df

,review_id,business_id,text,stars,user_id
0,xQY8N_XvtGbearJ5X4QryQ,-MhfebM0QIsKt87iDN-FNw,"As someone who has worked with many museums, I...",2.0,OwjRMXRC0KyPrIlcjaXeFQ
1,UmFMZ8PyXZTY2QcwzsfQYA,lbrU8StCq3yDfr-QMnGrmQ,I am actually horrified this place is still in...,1.0,nIJD_7ZXHq-FX8byPMOkMQ
2,LG2ZaYiOgpr2DK_90pYjNw,HQl28KMwrEKHqhFrrDqVNQ,I love Deagan's. I do. I really do. The atmosp...,5.0,V34qejxNsCbcgD8C0HVk-Q
3,i6g_oA9Yf9Y31qt0wibXpw,5JxlZaqCnk1MnbgRirs40Q,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",1.0,ofKDkJKXSKZXu5xJNGiiBQ
4,6TdNDKywdbjoTkizeMce8A,IS4cv902ykd8wj1TR0N3-A,"Oh happy day, finally have a Canes near my cas...",4.0,UgMW8bLE0QMJDCkQ1Ax5Mg
...,...,...,...,...,...
8021117,LAzw2u1ucY722ryLEXHdgg,XW2kaXdahICaJ27A0dhGHg,"Fricken unbelievable, I ordered 2 space heater...",1.0,6DMFD3BRp-MVzDQelRx5UQ
8021118,gMDU14Fa_DVIcPvsKtubJA,IsoLzudHC50oJLiEWpwV-w,Solid American food with a southern comfort fl...,3.0,_g6P8H3-qfbz1FxbffS68g
8021119,EcY_p50zPIQ2R6rf6-5CjA,kDCyqlYcstqnoqnfBRS5Og,I'm honestly not sure how I have never been to...,5.0,Scmyz7MK4TbXXYcaLZxIxQ
8021120,-z_MM0pAf9RtZbyPlphTlA,VKVDDHKtsdrnigeIf9S8RA,Food was decent but I will say the service too...,3.0,lBuAACBEThaQHQGMzAlKpg
8021121,nK0JGgr8aO4mcFPU4pDOEA,2SbyRgHWuWNlq18eHAx95Q,"Oh yeah! Not only that the service was good, t...",5.0,fiA6ztHPONUkmX6yKIXyHg

In [4]:
df.to_csv('data/reviews.csv')

In [9]:
data1 = {"name":[],"business_id":[],"city":[],"categories":[]}
with open('data/yelp_academic_dataset_business.json') as f:
    for line in tqdm(f):
        business = json.loads(line)
        data1['name'].append(business['name'])
        data1['business_id'].append(business['business_id'])
        data1['city'].append(business['city'])
        data1['categories'].append(business['categories'])
df1 = pd.DataFrame(data1)

209393it [00:18, 11249.60it/s]

In [10]:
df1.to_csv('data/business.csv')

In [11]:
df1

,name,business_id,city,categories
0,The Range At Lake Norman,f9NumwFMBDn751xgFiRbNA,Cornelius,"Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh..."
1,"Carlos Santo, NMD",Yzvjg0SayhoZgCljUJRF9Q,Scottsdale,"Health & Medical, Fitness & Instruction, Yoga,..."
2,Felinus,XNoUzKckATkOD1hP6vghZg,Montreal,"Pets, Pet Services, Pet Groomers"
3,Nevada House of Hose,6OAZjbxqM5ol29BuHsil3w,North Las Vegas,"Hardware Stores, Home Services, Building Suppl..."
4,USE MY GUY SERVICES LLC,51M2Kk903DFYI6gnB5I6SQ,Mesa,"Home Services, Plumbing, Electricians, Handyma..."
...,...,...,...,...
209388,Nishi Sushi,9Q0fPWAjUweoFDk0kafuzQ,Vaughan,"Japanese, Sushi Bars, Restaurants"
209389,Walmart,PotiAhtDMYMNsJCzV0oLAw,Charlotte,"Department Stores, Food, Mobile Phones, Fashio..."
209390,Five Guys,SYa2j1boLF8DcGVOYfHPcA,Scottsdale,"American (New), Food, Burgers, Restaurants, Fa..."
209391,Indian Trail Dog Training,RSSIsgO00OuWQTRoITacpA,Indian Trail,"Pet Services, Pet Training, Pets"
209392,Kudlow Ye,tOcYmewXFhQeZh3V42ymwg,Toronto,"Tax Services, Professional Services, Accountan..."

In [12]:
df1.city.value_counts()

Las Vegas                  31631
Toronto                    20366
Phoenix                    20171
Charlotte                  10422
Scottsdale                  9342
                           ...
Mississaugua                   1
kirtland                       1
Henderson and Las vegas        1
W Spring Valley                1
Henderston                     1
Name: city, Length: 1251, dtype: int64

In [14]:
df.dropna(inplace=True)
df1.dropna(inplace=True)

In [15]:
restaurants_business = df1[df1.categories.str.contains("Restaurants")]
Toronto_rest = restaurants_business[restaurants_business.city == "Las Vegas"]
finaldf = Toronto_rest.merge(df,on="business_id",how="inner")

In [19]:
finaldf.to_csv('data/Las_Vegas_reviews.csv')

In [21]:
Phoenix_rest = restaurants_business[restaurants_business.city == "Phoenix"]
Phoenixdf = Phoenix_rest.merge(df,on="business_id",how="inner")
Phoenixdf.to_csv('data/Phoenix_reviews.csv')